# Environment Files
.env
.env.local
.env.*.local

# Dependency directories
node_modules/
jspm_packages/
package-lock.json

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Build outputs
dist/
build/
out/
